force-app/main/default/flows/Alocate_Resources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetUsers</name>
        <label>GetUsers</label>
        <locationX>886</locationX>
        <locationY>878</locationY>
        <actionName>GetUsers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>List</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>projectLine</name>
            <value>
                <elementReference>ProjectLineItem_Loop</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>UsersFromApex</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddId</name>
        <label>AddId</label>
        <locationX>886</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>StoreIdProjectLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectLineItem_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddUsers</name>
        <label>AddUsers</label>
        <locationX>974</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>UsersFromList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RemoveUserList</name>
        <label>RemoveUserList</label>
        <locationX>886</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>UsersFromList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveAll</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_ProjectResource</name>
        <label>Create ProjectResource</label>
        <locationX>1304</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>Each_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Desde_a</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hasta_a</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DateDecision</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>DateDecision</name>
        <label>DateDecision</label>
        <locationX>1106</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Desde_a</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProjectResource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionInfo</name>
        <label>Decision Info</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProjectLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Kickoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProjectLineItem_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SquadLeadPickList</name>
        <collectionReference>GetProjectResource</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Project_Resource__c</object>
        <valueField>Resource__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UserIdCollection</name>
        <collectionReference>UsersFromList</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Alocate Resource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alocate Resources</label>
    <loops>
        <name>Each_User</name>
        <label>Each User</label>
        <locationX>886</locationX>
        <locationY>1454</locationY>
        <collectionReference>FilteredUsersToAssign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Screen_Alocate_Resource</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProjectLineItem_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>List</name>
        <label>List</label>
        <locationX>886</locationX>
        <locationY>998</locationY>
        <collectionReference>UsersFromApex</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddUsers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ScreenChooseUser</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ProjectLineItem_Loop</name>
        <label>ProjectLineItem Loop</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>GetProjectLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RemoveUserList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetProjectResource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>ProjectResource</name>
        <label>ProjectResource</label>
        <locationX>974</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>Each_User</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>Hasta_a</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Each_User.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProjectLineItem__c</field>
            <value>
                <elementReference>ProjectLineItem_Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource__c</field>
            <value>
                <elementReference>Each_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>ProjectLineItem_Loop.Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>Desde_a</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetProjectLineItems</name>
        <label>GetProjectLineItems</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProjectLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProjectResource</name>
        <label>GetProjectResource</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resources_Alocated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProjectLineItem__c</field>
            <operator>In</operator>
            <value>
                <elementReference>StoreIdProjectLineItem</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Project</name>
        <label>Project</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1238</locationX>
        <locationY>1934</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Each_User</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;Date cannot be inferior to today&apos;s date&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resources_Alocated</name>
        <label>Resources Alocated</label>
        <locationX>50</locationX>
        <locationY>2558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ViewProjectREsource</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Project_Resource__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Created Project Resources</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetProjectResource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6edc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Project Resource Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Role__c&quot;,&quot;guid&quot;:&quot;column-c770&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Role&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StartDate__c&quot;,&quot;guid&quot;:&quot;column-955d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;StartDate&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;EndDate__c&quot;,&quot;guid&quot;:&quot;column-51d5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;EndDate&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Assigned_Hours__c&quot;,&quot;guid&quot;:&quot;column-017a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Assigned Hours&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ApiName</name>
            <choiceReferences>SquadLeadPickList</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Alocate_Resource</name>
        <label>Screen Alocate Resource</label>
        <locationX>1304</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_ProjectResource</targetReference>
        </connector>
        <fields>
            <name>Users</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>User</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>UsersFromList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f150&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Role__c&quot;,&quot;guid&quot;:&quot;column-f849&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Role&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-120c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Screen_Alocate_Resource_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Alocate_Resource_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Role</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!ProjectLineItem_Loop.Role__c} - Horas a cubrir: {!ProjectLineItem_Loop.CoveredHours__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Alocate_Resource_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Alocate_Resource_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UserName</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!Each_User.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Alocate_Resource_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RatePerHour</name>
                    <fieldText>&lt;p&gt;{!Each_User.Rateph__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Alocate_Resource_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Desde_a</name>
                    <dataType>Date</dataType>
                    <fieldText>Desde</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Date must be a weekday.&lt;/p&gt;</errorMessage>
                        <formulaExpression>CASE( MOD( {!Desde_a} - DATE(1900, 1, 7), 7),
0, 1,
6, 1,
0) = 0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Alocate_Resource_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Hasta_a</name>
                    <dataType>Date</dataType>
                    <fieldText>Hasta</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Date must be a weekday.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>CASE( MOD( {!Hasta_a} - DATE(1900, 1, 7), 7),
0, 1,
6, 1,
0) = 0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenChooseUser</name>
        <label>ScreenChooseUser</label>
        <locationX>886</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Each_User</targetReference>
        </connector>
        <fields>
            <name>DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>User</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>UsersFromList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>FilteredUsersToAssign</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e370&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Role__c&quot;,&quot;guid&quot;:&quot;column-9d93&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Role&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FilteredUsersToAssign</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetProjectLineItems</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FilteredUsersToAssign</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>ProjectRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemoveAll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>StoreIdProjectLineItem</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsersFromApex</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UsersFromList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
