force-app/main/default/flows/ChangeStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_EmailAmount</name>
        <label>Copy 1 of EmailAmount</label>
        <locationX>842</locationX>
        <locationY>2126</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Se vendio barato.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Project.ProjectManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notificacion</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>EmailAmount</name>
        <label>EmailAmount</label>
        <locationX>314</locationX>
        <locationY>2126</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_ChangeStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Se vendio barato.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Project.ProjectManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notificacion</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HoursEmail</name>
        <label>HoursEmail</label>
        <locationX>732</locationX>
        <locationY>1214</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_2_of_ChangeStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Total hours are not covered.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Project.ProjectManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddAmounts</name>
        <label>AddAmounts</label>
        <locationX>270</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectResourceLoop.ResourceAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProjectResourceLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddCoveredHours</name>
        <label>AddCoveredHours</label>
        <locationX>732</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>HourCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectLineItemLoop.ResourceHours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProjectLineItemLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddProjectResource</name>
        <label>AddProjectResource</label>
        <locationX>732</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ProjectResourceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectResource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCoveredHours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AddAmounts</name>
        <label>Copy 1 of AddAmounts</label>
        <locationX>798</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectResourceLoop.ResourceAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_ProjectResourceLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChangeStatus</name>
        <label>ChangeStatus</label>
        <locationX>1139</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsToday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project.StartDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Kickoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProjectLineItem</targetReference>
            </connector>
            <label>IsToday</label>
        </rules>
        <rules>
            <name>IsEndDay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project.EndDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>EndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeStatusToCompleted</targetReference>
            </connector>
            <label>IsEndDay</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAmounts</name>
        <label>CheckAmounts</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>EmailAmount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesThree</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project.Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TotalAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeStatus1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_CheckAmounts</name>
        <label>Copy 1 of CheckAmounts</label>
        <locationX>710</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_EmailAmount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project.Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TotalAmount</elementReference>
                </rightValue>
            </conditions>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionHours</name>
        <label>DecisionHours</label>
        <locationX>644</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>HoursEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project.Total_Hours__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>HourCounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DecisionSquadLead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionSquadLead</name>
        <label>DecisionSquadLead</label>
        <locationX>644</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesTwo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project.SquadLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Kickoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProjectResourceLoop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>IfStatusInProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_ProjectResourceLoop</targetReference>
            </connector>
            <label>IfStatusInProgress</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>ChangeStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChangeStatus</label>
    <loops>
        <name>Copy_1_of_ProjectResourceLoop</name>
        <label>Copy 1 of ProjectResourceLoop</label>
        <locationX>710</locationX>
        <locationY>1670</locationY>
        <collectionReference>ProjectResourceCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_AddAmounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_CheckAmounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ProjectLineItemLoop</name>
        <label>ProjectLineItemLoop</label>
        <locationX>644</locationX>
        <locationY>518</locationY>
        <collectionReference>ProjectLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ProjectResource</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DecisionHours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ProjectResourceLoop</name>
        <label>ProjectResourceLoop</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <collectionReference>ProjectResourceCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddAmounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckAmounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Project</name>
        <label>Project</label>
        <locationX>1139</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChangeStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProjectLineItem</name>
        <label>ProjectLineItem</label>
        <locationX>644</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProjectLineItemLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProjectLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProjectResource</name>
        <label>ProjectResource</label>
        <locationX>732</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddProjectResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProjectLineItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectLineItemLoop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ChangeStatus1</name>
        <label>ChangeStatus</label>
        <locationX>50</locationX>
        <locationY>2126</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ChangeStatusToCompleted</name>
        <label>ChangeStatusToCompleted</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_ChangeStatus</name>
        <label>Copy 1 of ChangeStatus</label>
        <locationX>314</locationX>
        <locationY>2246</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_ChangeStatus</name>
        <label>Copy 2 of ChangeStatus</label>
        <locationX>732</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>DecisionSquadLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Project</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>HourCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProjectResourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Resource__c</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
