force-app/main/default/flows/ErrorsFlowProject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>CheckHours</name>
        <label>CheckHours</label>
        <locationX>270</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>RevenueStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HoursNotFulfilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project.Total_Hours__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Project.AssignedHours__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HoursScreen</targetReference>
            </connector>
            <label>HoursNotFulfilled</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStartDate</name>
        <label>CheckStartDate</label>
        <locationX>512</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfStartDateIsToday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project.StartDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Kickoff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FirstDecision</targetReference>
            </connector>
            <label>IfStartDateIsToday</label>
        </rules>
    </decisions>
    <decisions>
        <name>FirstDecision</name>
        <label>FirstDecision</label>
        <locationX>270</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoSquadLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project.SquadLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SquadLeadScreen</targetReference>
            </connector>
            <label>NoSquadLead</label>
        </rules>
        <rules>
            <name>SquadLeadFilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project.SquadLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckHours</targetReference>
            </connector>
            <label>SquadLeadFilled</label>
        </rules>
    </decisions>
    <decisions>
        <name>RevenueStatus</name>
        <label>RevenueStatus</label>
        <locationX>270</locationX>
        <locationY>1070</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoRevenue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project.Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Project.ResourceAmount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExceedingAmountScreen</targetReference>
            </connector>
            <label>NoRevenue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>ErrorsFlowProject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ErrorsFlowProject</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Project</name>
        <label>Project</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckStartDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ExceedingAmountScreen</name>
        <label>ExceedingAmountScreen</label>
        <locationX>138</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExceedingAmountMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(189, 26, 26);&quot;&gt;You&apos;re exceeding the amount of money your project was sold for with your resources. Please allocate less expensive resources or assign less hours. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HoursScreen</name>
        <label>HoursScreen</label>
        <locationX>138</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RevenueStatus</targetReference>
        </connector>
        <fields>
            <name>HoursNotFulfilledMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(189, 26, 26);&quot;&gt;The amount of work hours is not fulfilled, please add more resources or assign more hours to the existing resources.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SquadLeadScreen</name>
        <label>SquadLeadScreen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckHours</targetReference>
        </connector>
        <fields>
            <name>NoSquadLeadMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(189, 26, 26); font-size: 18px;&quot;&gt;Please add a &lt;/span&gt;&lt;em style=&quot;color: rgb(189, 26, 26); font-size: 18px;&quot;&gt;&lt;u&gt;Squad Lead&lt;/u&gt;&lt;/em&gt;&lt;span style=&quot;color: rgb(189, 26, 26); font-size: 18px;&quot;&gt; to your project.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
