force-app/main/default/flows/InProgress_Completed_Project_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_One_to_ProjectRolCounter</name>
        <label>Add One to ProjectRolCounter</label>
        <locationX>1150</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ProjectRolCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_The_Hours_Covered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_One_to_ProjectRolCoveredCounter</name>
        <label>Add One to ProjectRolCoveredCounter</label>
        <locationX>1018</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>ProjectRolCoveredCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Rol_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_All_Role_Hours_Covered</name>
        <label>Are All Role Hours Covered?</label>
        <locationX>930</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_RoleHous</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectRolCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ProjectRolCoveredCounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Rollback_Status</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_The_Hours_Covered</name>
        <label>Are The Hours Covered?</label>
        <locationX>1150</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Project_Rol_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Rol_Loop.Quantity__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Project_Rol_Loop.ResourceHours__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_One_to_ProjectRolCoveredCounter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AreTasksCompletedOrIsEndDate</name>
        <label>Are Tasks Completed or Is EndDate?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TasksCount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CompletedTasks__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RollBackStatus</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Completed_or_In_Progress</name>
        <label>Is Completed or In Progress</label>
        <locationX>556</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>ProjectRoles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In Progress</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AreTasksCompletedOrIsEndDate</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <interviewLabel>InProgress/Completed Project Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InProgress/Completed Project Trigger Flow</label>
    <loops>
        <name>Project_Rol_Loop</name>
        <label>Project Rol Loop</label>
        <locationX>930</locationX>
        <locationY>575</locationY>
        <collectionReference>ProjectRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_One_to_ProjectRolCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_All_Role_Hours_Covered</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ProjectRoles</name>
        <label>Project Roles</label>
        <locationX>930</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Rol_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProjectLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Project_Rollback_Status</name>
        <label>Project Rollback Status</label>
        <locationX>798</locationX>
        <locationY>1367</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record__Prior.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RollBackStatus</name>
        <label>RollBackStatus</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record__Prior.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>430</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Completed_or_In_Progress</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectRolCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProjectRolCoveredCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
