force-app/main/default/flows/New_Version_Allocate_Resource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Ids_to_filtered_Resource_Ids_Collection</name>
        <label>Add Ids to filtered Resource Ids Collection</label>
        <locationX>138</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>FilteredResourcesIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ProjectResources.Resource__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ProjectResources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Ids_To_Resource_Ids_Collection</name>
        <label>Add Ids To Resource Ids Collection</label>
        <locationX>138</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>UnfilteredResourceIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Resources_From_Get_Resources.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Resources_From_Get_Resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Role_to_Role_Collection</name>
        <label>Add Role to Role Collection</label>
        <locationX>138</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>RoleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectLineItem_Loop_For_Resource_Assignment.Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProjectLineItem_Loop_For_Resource_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProjectLineItem_Add_Counter</name>
        <label>ProjectLineItem Add Counter</label>
        <locationX>270</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CounterProjectLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProjectLineItem_Is_Empty_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ProjectLineItem_Is_Empty</name>
        <label>ProjectLineItem Is Empty</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterProjectLineItem</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProjectLineItem_Loop_For_Resource_Assignment</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <formulas>
        <name>ProjectEndDate</name>
        <dataType>Date</dataType>
        <expression>{!Get_Project_Record.EndDate__c}</expression>
    </formulas>
    <formulas>
        <name>ProjectStartDate</name>
        <dataType>Date</dataType>
        <expression>{!Get_Project_Record.StartDate__c}</expression>
    </formulas>
    <interviewLabel>New Version Allocate Resource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Version Allocate Resource</label>
    <loops>
        <name>Loop_ProjectResources</name>
        <label>Loop ProjectResources</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <collectionReference>Get_Project_Resources_that_matches_with_Project</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Ids_to_filtered_Resource_Ids_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filtered_Resources_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Resources_From_Get_Resources</name>
        <label>Loop Resources From Get Resources</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <collectionReference>Get_Resources_With_Role</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Ids_To_Resource_Ids_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Project_Resources_that_matches_with_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ProjectLineItem_Is_Empty_Loop</name>
        <label>ProjectLineItem Is Empty Loop</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_ProjectLineItem_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ProjectLineItem_Add_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProjectLineItem_Is_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ProjectLineItem_Loop_For_Resource_Assignment</name>
        <label>ProjectLineItem Loop For Resource Assignment</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <collectionReference>Get_ProjectLineItem_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Role_to_Role_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Resources_With_Role</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Filtered_Resources_Records</name>
        <label>Filtered Resources Records</label>
        <locationX>50</locationX>
        <locationY>2102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Free_Resources_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>FilteredResourcesIdsCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Free_Resources_Records</name>
        <label>Free Resources Records</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>FilteredResourcesIdsCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>In</operator>
            <value>
                <elementReference>RoleCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Record</name>
        <label>Get Project Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ProjectLineItem_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Resources_that_matches_with_Project</name>
        <label>Get Project Resources that matches with Project</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ProjectResources</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>Resource__c</field>
            <operator>In</operator>
            <value>
                <elementReference>UnfilteredResourceIdsCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>ProjectStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>ProjectStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>ProjectEndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>ProjectEndDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ProjectLineItem_Records</name>
        <label>Get ProjectLineItem Records</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProjectLineItem_Is_Empty_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProjectLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Resources_With_Role</name>
        <label>Get Resources With Role</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Resources_From_Get_Resources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role__c</field>
            <operator>In</operator>
            <value>
                <elementReference>RoleCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CounterProjectLineItem</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Resource_By_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>FilteredResourcesIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilteredResourcesRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoleCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnfilteredResourceIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
