force-app/main/default/flows/Request_Out_of_Office.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>754</locationX>
        <locationY>2150</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Loop_Vacation_Collection</targetReference>
        </connector>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Vacation_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Loop_Vacation_Collection.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_PLI_Id</name>
        <label>Add PLI Id</label>
        <locationX>754</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>PLI_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Project_Resource.ProjectLineItem__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Project_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Vacation_to_Collection</name>
        <label>Add Vacation to Collection</label>
        <locationX>754</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>VacationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VacationRecord2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Id</name>
        <label>Assign User Id</label>
        <locationX>270</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vacation</name>
        <label>Assign Vacation</label>
        <locationX>754</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>VacationRecord2.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VacationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VacationRecord2.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PLI.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VacationRecord2.Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VacationRecord2.ProjectManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PLI.Project__r.ProjectManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VacationRecord2.SquadLead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PLI.Project__r.SquadLead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VacationRecord2.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VacationRecord2.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RealStartDateRequest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VacationRecord2.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RealEndDateRequest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VacationRecord2.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needs approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Vacation_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VacationAssignment</name>
        <label>VacationAssignment</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>VacationRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VacationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VacationRecord.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RealStartDateRequest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VacationRecord.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RealEndDateRequest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VacationRecord.Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VacationRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VacationRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Vacation_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Create_Choice</name>
        <choiceText>Create</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Are_There_Any_Vacation</name>
        <label>Are There Any Vacation</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_Projects_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vacations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VacationErrorScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProjectResourceCollection</name>
        <label>ProjectResourceCollection</label>
        <locationX>490</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Loop_Project_Resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CollectionNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Projects_Resource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VacationAssignment</targetReference>
            </connector>
            <label>CollectionNull</label>
        </rules>
    </decisions>
    <formulas>
        <name>RealEndDateRequest</name>
        <dataType>Date</dataType>
        <expression>{!EndDateRequest} + 1</expression>
    </formulas>
    <formulas>
        <name>RealStartDateRequest</name>
        <dataType>Date</dataType>
        <expression>{!StartDateRequest} + 1</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Request Out of Office {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Out of Office</label>
    <loops>
        <name>Loop_PLI</name>
        <label>Loop PLI</label>
        <locationX>666</locationX>
        <locationY>1454</locationY>
        <collectionReference>Get_PLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Vacation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Vacations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Project_Resource</name>
        <label>Loop Project Resource</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Projects_Resource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_PLI_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Vacation_Collection</name>
        <label>Loop Vacation Collection</label>
        <locationX>666</locationX>
        <locationY>2030</locationY>
        <collectionReference>VacationCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Submit_for_Approval</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Vacation_Record</name>
        <label>Create Vacation Record</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <inputReference>VacationRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Vacations</name>
        <label>Create Vacations</label>
        <locationX>666</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Loop_Vacation_Collection</targetReference>
        </connector>
        <inputReference>VacationCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_PLI</name>
        <label>Get PLI</label>
        <locationX>666</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_PLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>PLI_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProjectLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Projects_Resource</name>
        <label>Get Projects Resource</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProjectResourceCollection</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>StartDateRequest</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartDateRequest</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>EndDateRequest</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>EndDateRequest</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>270</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Out_of_Office_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vacations</name>
        <label>Get Vacations</label>
        <locationX>270</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_There_Any_Vacation</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 AND 5))</filterLogic>
        <filters>
            <field>Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>StartDateRequest</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartDateRequest</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>EndDateRequest</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>EndDateRequest</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vacation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Out_of_Office_Request</name>
        <label>Out of Office Request</label>
        <locationX>270</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Vacations</targetReference>
        </connector>
        <fields>
            <name>Out_of_Office_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Out_of_Office_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason</name>
                    <dataType>String</dataType>
                    <fieldText>Reason</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Out_of_Office_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StartDateRequest</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Date can&apos;t be past date or a weekend day.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!TodaysDate} &lt; {!StartDateRequest} &amp;&amp; CASE( MOD( {!StartDateRequest} - DATE(1900, 1, 7), 7),
0, 1,
6, 1,
0) = 0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Out_of_Office_Request_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EndDateRequest</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Date can&apos;t be inferior to start date &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;or a weekend day&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!EndDateRequest} &gt;= {!StartDateRequest} &amp;&amp; CASE( MOD( {!EndDateRequest} - DATE(1900, 1, 7), 7),
0, 1,
6, 1,
0) = 0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Out_of_Office_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Out_of_Office_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VacationErrorScreen</name>
        <label>Vacation Error Screen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;&lt;em&gt;You already have vacations for the dates you&apos;ve chosen previously.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MyVacations</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Vacation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Vacations</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Vacations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2591&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Vacations Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Project_Name__c&quot;,&quot;guid&quot;:&quot;column-a567&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Project Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-bb2b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StartDate__c&quot;,&quot;guid&quot;:&quot;column-16a3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;EndDate__c&quot;,&quot;guid&quot;:&quot;column-c07a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_User_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>VacationName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_User.Name} {!Reason}</text>
    </textTemplates>
    <variables>
        <name>PLI_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Project_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VacationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vacation__c</objectType>
    </variables>
    <variables>
        <name>VacationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vacation__c</objectType>
    </variables>
    <variables>
        <name>VacationRecord2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vacation__c</objectType>
    </variables>
</Flow>
