force-app/main/default/flows/ScheduleFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>HoursNotFulfilledEmail</name>
        <label>HoursNotFulfilledEmail</label>
        <locationX>270</locationX>
        <locationY>972</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>RevenueStatus</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Your project does not have the amount of hours fulfilled. Please check this out!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ProjectManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Assign More Work!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NoRevenueEmail</name>
        <label>NoRevenueEmail</label>
        <locationX>270</locationX>
        <locationY>1308</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Your project is losing money. Please check this out!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ProjectManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>No Revenue!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NoSquadLead2</name>
        <label>NoSquadLead</label>
        <locationX>314</locationX>
        <locationY>516</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CheckHours</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Your project doesn&apos;t have a Squad Lead. Please check this out</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ProjectManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>No Squad Lead!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>CheckHours</name>
        <label>CheckHours</label>
        <locationX>402</locationX>
        <locationY>852</locationY>
        <defaultConnector>
            <targetReference>RevenueStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HoursNotFulfilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Hours__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.AssignedHours__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HoursNotFulfilledEmail</targetReference>
            </connector>
            <label>HoursNotFulfilled</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStartDate</name>
        <label>CheckStartDate</label>
        <locationX>842</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfStartDateIsToday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodaysDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FirstDecision</targetReference>
            </connector>
            <label>IfStartDateIsToday</label>
        </rules>
        <rules>
            <name>IfEndDateIsToday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>EndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TasksCount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CompletedTasks__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatusCompleted</targetReference>
            </connector>
            <label>IfEndDateIsToday</label>
        </rules>
    </decisions>
    <decisions>
        <name>FirstDecision</name>
        <label>FirstDecision</label>
        <locationX>402</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ThreeFieldsCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Hours__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.AssignedHours__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SquadLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ResourceAmount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusProject</targetReference>
            </connector>
            <label>ThreeFieldsCheck</label>
        </rules>
        <rules>
            <name>NoSquadLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SquadLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoSquadLead2</targetReference>
            </connector>
            <label>NoSquadLead</label>
        </rules>
        <rules>
            <name>SquadLeadFilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SquadLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckHours</targetReference>
            </connector>
            <label>SquadLeadFilled</label>
        </rules>
    </decisions>
    <decisions>
        <name>RevenueStatus</name>
        <label>RevenueStatus</label>
        <locationX>402</locationX>
        <locationY>1188</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoRevenue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.ResourceAmount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoRevenueEmail</targetReference>
            </connector>
            <label>NoRevenue</label>
        </rules>
    </decisions>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>ScheduleFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScheduleFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>StatusCompleted</name>
        <label>StatusCompleted</label>
        <locationX>1018</locationX>
        <locationY>396</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatusProject</name>
        <label>UpdateStatusProject</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckStartDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Kickoff</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-10-19</startDate>
            <startTime>18:12:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
