force-app/main/default/flows/UpdateProjectDeletedTask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>ResourceTasksDecision</name>
        <label>ResourceTasksDecision</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>UpdateProjectField</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateProjectFields</targetReference>
            </connector>
            <label>IsCompleted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LessCompletedTasksFormula</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Project__r.CompletedTasks__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LessTaskFormula</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Project__r.TasksCount__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Project Deleted Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Project Deleted Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateProjectField</name>
        <label>UpdateProjectField</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TasksCount__c</field>
            <value>
                <elementReference>LessTaskFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateProjectFields</name>
        <label>UpdateProjectFields</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletedTasks__c</field>
            <value>
                <elementReference>LessCompletedTasksFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TasksCount__c</field>
            <value>
                <elementReference>LessTaskFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ResourceTasksDecision</targetReference>
        </connector>
        <object>ResourceTask__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
